.dragon-ball {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ball {
  border-radius: 10%;
  background-color: orange; /* Cambia el color aquí */
  animation: pulse 1.5s infinite alternate ease-in-out;
  list-style-type: none;
  padding: 1vh;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
